body {
    margin: 60px auto;
    width: 70%;
    background-color: rgb(240,255,255);
}
div.top_row{
    position: absolute;
    top: 5%;
    width: 65%;
    left: 15%;
    right: 15%
}
div.center_col {
    position: absolute;
    top: 15%;
    width: 60%;
    
    left: 20%;
    right: 20%;    
    font-family:"Palatino Linotype", "Book Antiqua", "Palatino", "serif";
    font-size: 18px;
    line-height: 200%;
} 
div.left_col {
    position: absolute;
    top: 15%;
    width: 15%;
    
    left: 5%;
    font-family:"Comic Sans MS", "cursive", "sans-serif";
} 

div.right_col {
    position: absolute;
    width: 15%;
    
    right: 5%;
    top: 15%
} 

div.menu {
    position: fixed;
    top: 15%;
    left: 5%;
    width: 15%;
    //height: 100px;
   
}

footer {
    bottom: 10%;
}

nav ul, footer ul {
    font-family:'Arial', 'Helvetica', 'sans-serif';
    padding: 1% 20%;
    list-style: none;
    font-weight: bold;
    color: rgb(20,120,150);
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 24px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(50,5,150);
}
